# Archivi/compressi
*.zip
*.tar.gz
*.rar

# File di sistema
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Node.js / Python cache
/node_modules/
__pycache__/
*.log

# File temporanei
*.tmp
*.bak
*.swp

# Ignora cartelle build se presenti
/dist/
/build/

# Ignora solo i file binari di traduzione
*.mo
